.App {
  text-align: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container2 {
  height: 90vh;
  background-image: url("../public/img/young-women-presenting-high-fat-foods_74855-5307.webp");
  background-size: cover;

}

.textcontainer2 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.nav{
  height: 10vh;
}


.navlink{
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}



